@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
@import "tailwindcss";

body {
  font-family: "Caveat Brush";
  background-color: #111111;
}

.caveat-brush {
  font-family: "Caveat Brush", cursive;
}
/* body {
  font-family: "Jost";
} */

*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #232424;
  border-radius: 2px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #4b5563;
}